
<div class="card">
  <!-- Cabeceras registros -->
  <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-7" class="form-group">
          <div class="d-flex flex-row bd-highlight mb-2">                    
              
          </div>
      </div>
  </div>
  <!-- Columnas de registros -->   

  <form [formGroup]="checkoutForm" >
      <mat-form-field class="example-full-width">
          <mat-label>Descripcion Rol</mat-label>
          <input
           
              matInput 
              placeholder="Rol" 
              autocomplete="off" 
              formControlName="rol"                   
            
          />
          <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>
      {{checkoutForm.get('rol').value.length}}
      <mat-error  *ngIf=" checkoutForm.get('rol').value == '' && checkoutForm.get('rol').touched "  >Este campo es obligatorio</mat-error>
      
  </form>
  
  <div *ngIf="btnSaveDate"  class="">
      <button 
          class="position_save btn-block" 
          color="primary"
          (click)="savedata()"
          [disabled]="!checkoutForm.valid"
          mat-raised-button>
          Guargar
      </button>
  </div>

  <div *ngIf="btnUpDate" class="">
      <button 
          class="position_save btn-block" 
          color="primary"
          (click)="update()"
          [disabled]="!checkoutForm.valid"
          mat-raised-button>
          Editar
      </button>
  </div>
</div>