.titles-mat-tap {
    margin-left: 10%
}

.mat-tab-group{
    color:white;
    min-width: 25px !important;
    padding: 5px;
       background-color:transparent;
        color:white;
        font-weight: 700;
  }