<nav class="navbar justify-content-between nav-bar-logo">
    <div class="content-nav-logo">
        <a href="#"><img src="../../../../assets/icons/LogoProyecto.png" class="inicio_logo" width="88px" height="64px">
            Institucion Interactiva Ambiental
        </a>
        <nav>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active">
                <li><a routerLink="/login">
                        <h4> Iniciar sesion <span class="material-icons">
                                vpn_key
                            </span> 
                        </h4>
                    </a>
                </li>

                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                <li><a routerLinkActive="active">
                        <h4>Ayuda<span class="material-icons">
                                help
                            </span>
                        </h4>
                    </a>
                </li>
                </a>
            </ul>
        </nav>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <mat-card class="col-md-8 example-card">
            <mat-card-header>
              <mat-card-title>EVENTOS</mat-card-title>
              <mat-card-subtitle>{{changeImages1.name}}</mat-card-subtitle>
            </mat-card-header>
            <img src="{{changeImages1.img}}" width="450" height="500" class="card-img-top" alt="...">
            <mat-card-content class="container">
                <br>
                {{changeImages1.description}}
            </mat-card-content>
            
        </mat-card>
        <hr>
        <div class="margin-top-sm col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title> MISION </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Somos una Institucion Interactiva Ambiental con propositos claros sobre las
                        necesidades
                        observadas en los alumnos, padres y departamento administrativo, siendo de manera
                        muy
                        interactiva optimizando tiempo, constribuyendo con el medio ambiente y facil de
                        manejar.
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title> VISION </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Somos una Institucion Interactiva Ambiental con propositos claros sobre las
                        necesidades observadas en los alumnos, padres y departamento administrativo, siendo
                        de manera muy interactiva optimizando tiempo, constribuyendo con el medio ambiente y
                        facil de manejar.
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title> OBJETIVOS </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Somos una Institucion Interactiva Ambiental con propositos claros sobre las
                        necesidades observadas en los alumnos, padres y departamento administrativo,
                        siendo de manera muy interactiva optimizando tiempo, constribuyendo con el medio
                        ambiente y facil de manejar.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
    
</div>

<footer>
    <div class="footer">
        <div class="container1">
            <div class="text-center">
                <h6>© {{ year }} INSTITUCION INTERACTIVA AMBIENTAL</h6>
            </div>
        </div>
    </div>
</footer>