mat-card-subtitle{
  color: red;
  font-size:17px;
}

mat-card-content{
  font-size: 17px;
}

a{
  color: #fff !important;
  font-size: 24px;
}

hr{
  border-top: 1px solid red;
}
.example-card {
  max-width: 900px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}



.footer {
  background-color: #2F7D86;
  position: absolute;
  width: 100%;
  clear: both;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  position: fixed;
  bottom: 0px;
}

.container1 {
  text-align: center;
  padding-top: 15px;
  padding-left: 43%;
}

.container1 h6 {
  color: #fff;
  font-size: 13.7px;
}

.container1 a {
  color: #fff;
  font-size: 13.7px;
}

.container1 b {
  color: #fff;
}

.content-nav-logo {
  width: 95%;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  padding: .2em 0em;
  justify-content: space-between;
  color: black;
}

.help {
  width: 200px;
  height: 0px;
  color: #fff;
  
}

.logo {
  width: 70px;
  margin-right: 0px;
}

ul{
  color: #fff;
  cursor: pointer;   
}

.nav-bar-logo {
  background-color: #2F7D86 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #4EB0BB !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #4EB0BB !important;
} 

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #4EB0BB !important;
}

