nav{
  
  background-color: #2F7D86 !important;   
  
  
}

.navbar-text{
  color: white;
  
}
.jumbotron{
  background-color: #ccc;
  content: center;
}
.col-md-4{
  margin: 10px;
}
span{
  content: center;
}
p{
  margin: 20px;
  text-align: center;
}
footer{
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0%;
  height: 120px;
  color: rgb(109, 20, 8); ;
  background-color: #2F7D86;
  width: 100%;
}


.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.navbanavbar-text {
  color: #2F7D86;

}

.mat-card-image{
  width: 270px;
  height: 200px;
}

ul{
  font-size: 243;
}
                   


/* estos son los estilos de redes Sociales*/
#ul-menu{
  border-radius: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80px;
  background-color: #ccc;
  float: right;
}


li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #2F7D86;
  border-radius: 80px;
  color: white;
}