<nav class="navbar justify-content-between nav-bar-logo">
  <div class="content-nav-logo">
    <a href="#"><img src="../../../../assets/icons/LogoProyecto.png" width="88px" height="64px"></a>
    <nav>
        
      <ul class="nav justify-content-end">
        <li  class="nav-item">
          <a class="nav-link active" >
        <li><a  routerLink="/" >
            <h3 > Inicio <span class="material-icons">
                account_circle
              </span> </h3>
          </a></li>

        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >
        <li><a routerLink="/home" routerLinkActive="active">
            <h3>Ayuda<span class="material-icons">
                help
                </span>
            </h3>
          </a></li>
        </a>
      </ul>
    </nav>
  </div>
</nav>

<br>
<br>

<div class="container">
  <mat-card class="example-card">
    <mat-card-header class="d-flex justify-content-center">
      <mat-card-title>
        <h3>I.I.A</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="d-flex justify-content-center">
      <div class="row ">
        <div class="col-sm-11">
          <mat-form-field>
            <input #username name="username" matInput placeholder="Ingresa usuario" type="text">
            <button mat-icon-button matSuffix>
              <mat-icon>person
              </mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-sm-11">
          <mat-form-field>
            <input matInput #password name="password" placeholder="Ingresa tu contraseña"
              [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-sm-11 d-flex justify-content-center">
          <button type="submit" [disabled]='(!password.value || !username.value)' mat-raised-button color='warn'
            (click)="logIn(username.value, password.value, $event)" id="login-button">Ingresar</button>
        </div>
      </div>





    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>

<footer>
  <div class="footer">
    <div class="container1">
      <div class="text-center">
        <h6>© {{ year }} INSTITUCION INTERACTIVA AMBIENTAL</h6>
      </div>
    </div>
  </div>
</footer>