<div class="main-content">
    <!--div *ngIf="espera"><mat-spinner></mat-spinner></div-->
    
    <div class="container-fluid">            
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <mat-tab-group color='primary'>                            
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon mat-list-icon>offline_pin</mat-icon>
                                    <div class="titles-mat-tap">Notas</div> 
                                </ng-template>
                                <app-service-list></app-service-list>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>