

<div class="main-content">
    
    <!--div *ngIf="espera"><mat-spinner></mat-spinner></div-->
    <div class="container-fluid">            
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <mat-tab-group color='primary'>                            
                            <mat-tab>
                                <ng-template mat-tab-label >
                                    <mat-icon mat-list-icon>wc</mat-icon>
                                    <div class="titles-mat-tap">Usuarios</div> 
                                </ng-template> 
                                                             
                                <div class="card">
                                <!-- Cabeceras registros -->
                                <button                           
                                    mat-fab                           
                                    class="pull-right"
                                    matTooltip="Info about the action"                          
                                    aria-label="Button that shows a red tooltip"
                                    color="warn"
                                    matTooltip="Salir"
                                    (click)="close()"
                                    routerLink="/users"
                                    >          
                                    <mat-icon>close</mat-icon>
                                </button> 
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-7" class="form-group">
                                        <div class="d-flex flex-row bd-highlight mb-2">                    
                                            
                                        </div>
                                    </div>
                                </div>
                                

                                <mat-vertical-stepper>
                                    <mat-step 
                                        [stepControl]="checkoutForm1" 
                                        label="Datos basicos" 
                                        state="phone"
                                        errorMessage="Name is required."
                                        >
                                <!-- Columnas de registros -->   
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="./../../../../assets/img/estudent.jpg" width="100" alt="">   
                                        </div>
                                        <div class="col-md-10">
                                            <form [formGroup]="checkoutForm1" >
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Nombre</mat-label>
                                                            <input
                                                                matInput 
                                                                placeholder="Nombre" 
                                                                autocomplete="off" 
                                                                formControlName="Nombre"
                                                            />
                                                            <mat-icon matSuffix>face</mat-icon>
                                                        </mat-form-field>
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Documento</mat-label>
                                                            <input
                                                                matInput 
                                                                placeholder="Documento" 
                                                                autocomplete="off" 
                                                                formControlName="Documento"
                                                            />
                                                            <mat-icon matSuffix>picture_in_picture_alt</mat-icon>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Apellidos</mat-label>
                                                            <input
                                                                matInput 
                                                                placeholder="Apellidos" 
                                                                autocomplete="off" 
                                                                formControlName="Apellidos"
                                                            />
                                                            <mat-icon matSuffix>face</mat-icon>
                                                        </mat-form-field>
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Telefonos</mat-label>
                                                            <input
                                                                matInput 
                                                                placeholder="Telefonos" 
                                                                autocomplete="off" 
                                                                formControlName="Telefonos"
                                                            />
                                                            <mat-icon matSuffix>perm_phone_msg</mat-icon>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Direccion</mat-label>
                                                            <input
                                                                matInput 
                                                                placeholder="Direccion" 
                                                                autocomplete="off" 
                                                                formControlName="Direccion"
                                                            />
                                                            <mat-icon matSuffix>location_on</mat-icon>
                                                        </mat-form-field>
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Correo electrionico</mat-label>
                                                            <input
                                                                matInput
                                                                type="email"
                                                                placeholder="Email@Email.ejemplo" 
                                                                autocomplete="off" 
                                                                formControlName="Email"
                                                            />
                                                            <mat-icon matSuffix>send</mat-icon>
                                                        </mat-form-field>
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Acudiente</mat-label>
                                                            <input
                                                                matInput 
                                                                placeholder="Nombres y apellidos" 
                                                                autocomplete="off" 
                                                                formControlName="Acudiente"
                                                            />
                                                            <mat-icon matSuffix>wc</mat-icon>
                                                        </mat-form-field>                                                
                                                    </div>                                                    
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div>
                                    <button mat-button matStepperNext class="btn-primary" color="primary">Siguiente</button>
                                    </div>
                                    </mat-step>
                                    <mat-step 
                                        [stepControl]="checkoutForm1"
                                        label="Perfile nuevo  `USUARIO`" 
                                        state="chat"
                                        errorMessage="Name is required."
                                        >
                                        <div class="row">
                                            <form [formGroup]="checkoutForm2">
                                            
                                            <mat-form-field>
                                                <mat-label>Grado</mat-label>
                                                <mat-select formControlName="Grado">
                                                    <mat-option *ngFor="let grado of grado" [value]="grado.name">
                                                        {{grado.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field >
                                                <mat-label>Grupo</mat-label>
                                                <mat-select formControlName="Grupo">
                                                    <mat-option *ngFor="let grupo of grupo" [value]="grupo.name">
                                                        {{grupo.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <mat-label>Salon</mat-label>
                                                    <input
                                                        matInput 
                                                        placeholder="Salon" 
                                                        autocomplete="off" 
                                                        formControlName="Salon"
                                                    />
                                                    <mat-icon matSuffix>description</mat-icon>
                                                </mat-form-field>                                                   
                                            </div>
                                            
                                            <div class="col-md-12">
                                                <mat-label>Tipo de usuario <mat-icon matSuffix>person</mat-icon></mat-label>
                                                <section class="example-section">                            
                                                    <mat-radio-group formControlName="Rol">
                                                        <mat-radio-button class="example-margin" value="Estudiante">Estudiante</mat-radio-button>
                                                        <mat-radio-button class="example-margin" value="Maestro">Maestro</mat-radio-button>
                                                        <mat-radio-button class="example-margin" value="Secretaria">Secretaria</mat-radio-button>
                                                        <mat-radio-button class="example-margin" value="Rector">Rector</mat-radio-button>
                                                        <mat-radio-button class="example-margin" value="Administrador">Administrador</mat-radio-button>
                                                    </mat-radio-group>
                                                    
                                                </section>
                                                <mat-error  *ngIf="!checkoutForm2.get('Rol').touched">
                                                    Este campo es obligatorio
                                                </mat-error>
                                            </div>
                                        </form>
                                        </div>
                                      <div>
                                        <button mat-button matStepperPrevious class="btn-warning">Atras</button>
                                        <button mat-button matStepperNext class="btn-primary" color="primary">Siguiente</button>
                                      </div>
                                    </mat-step>
                                    <mat-step 
                                        [stepControl]="checkoutForm2"
                                        label="Guardar"
                                        errorMessage="Name is required."
                                        >
                                        <div *ngIf="!btnUpDate"  class="">
                                            <button 
                                                class="position_save btn-block" 
                                                color="primary"
                                                (click)="savedata()"
                                                [disabled]="!checkoutForm1.valid && !checkoutForm2.valid"
                                                mat-raised-button>
                                                Guargar
                                            </button>
                                        </div>
                                    
                                        <div *ngIf="btnUpDate" class="">
                                            <button 
                                                class="position_save btn-block" 
                                                color="primary"
                                                (click)="update()"
                                                [disabled]="!checkoutForm1.valid && !checkoutForm2.valid"
                                                mat-raised-button>
                                                Editar
                                            </button>
                                        </div>
                                    </mat-step>
                                  
                                    <!-- Icon overrides. -->
                                    <ng-template matStepperIcon="phone">
                                      <mat-icon>call_end</mat-icon>
                                    </ng-template>
                                    <ng-template matStepperIcon="chat">
                                      <mat-icon>forum</mat-icon>
                                    </ng-template>
                                  </mat-vertical-stepper>
                                
                                </div>
                            </mat-tab><!-- Fin-->                         
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
  